@import "styles/palette";


.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  margin-right: 10px;
}

.logoSpan {
  font-weight: bold;
  font-size: 26px;
}

.navbarItems {
  align-items: center !important;
}

.backgroundUbPrimary {
  background-color: $UB_PRIMARY_RED;
}
