@import "styles/palette";

.newsPaginationLink {
  color: black;
}

.newsPaginationLink:hover {
  color: $UB_SECONDARY_RED;
}

.newsPaginationLinkActive {
  background-color: $UB_SECONDARY_RED;
  border-color: $UB_SECONDARY_RED;
  color: white;
}
